target/
pubg-weapon-service/target/
pubg-season-service/target/
pubg-user-service/target/
pubg-common-service/target/
pubg-cloud-register/target/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.flattened-pom.xml

.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/dictionaries
.idea/shelf
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml